<div>

    <p>
        <label>Name: 
            <!-- {{heroes[0].name}} -->
            <br />
            <!-- <input [(ngModel)]="heroes[0].name" placeholder="name" /> -->
        </label>
    </p>

    <p>
        <label>Value: 
            {{value}}
            <br />
            <input [value]="value" (input)="value = $event.target.value" placeholder="Value" />
        </label>
    </p>

</div>

<div>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes" 
            (dblclick)="removeSelectedHero()"
        >
            <a routerLink="/detail/{{hero.id}}"><span class="badge">{{hero.id}}</span>{{hero.name}}</a>
        </li>
    </ul>

</div>
